<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Academia</title>


	{% load static %}

{% include 'includes/css.html'%}

</head>

<body>
	<main>
		{% include 'includes/base_comun.html'%}
		<section>
			<div>{% block cursos_izquierda %} {% endblock %}</div>
			<div>{% block cursos_centro %} {% endblock %}</div>
			<div>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Iusto laboriosam sed exercitationem! Non, optio, enim. Facilis suscipit totam nostrum deleniti.</div>
		</section>
	</main>
	{% include 'includes/js.html'%}

</body>
</html>