{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mt-5 mb-5">
			<div class="col">
				<h1>Restauracion de clave</h1>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente.			
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<form method="post">
				<div class="container">
					<div class="row mb-3">
						<div class="col col-3">
							<label for="id_new_password1">Nueva contraseña:</label>
						</div>
						<div class="col col-9">
							<input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col col-3">
							<label for="id_new_password2">Confirme contraseña:</label>
						</div>
						<div class="col col-9">
							<input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
						</div>
					</div>
					<div class="row mb-5">
						<div class="col">
							<input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}